body {
    background-color: #f3f4f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-card {
    max-width: 400px;
    width: 100%;
    border-radius: 15px;
}
.input-group-text {
    background-color: #fff;
    border-left: 0; /* لأن الاتجاه RTL */
    color: #6c757d;
}
.form-control {
    border-right: 0; /* لأن الاتجاه RTL */
}
.form-control:focus {
    box-shadow: none;
    border-color: #dee2e6;
}
.form-control:focus + .input-group-text {
    border-color: #dee2e6;
}
/* توحيد لون الحدود عند التركيز */
.input-group:focus-within .form-control,
.input-group:focus-within .input-group-text {
    border-color: #0d6efd;
}
.input-group:focus-within .input-group-text i {
    color: #0d6efd;
}
